@import "reset.css";
@import "menu.css";
@import "obare.css";
@font-face {
    font-family: 'Winter';
    src: url('../fonts/WinterSansTrial-Regular.woff2') format('woff2'),
        url('../fonts/WinterSansTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winter';
    src: url('../fonts/WinterSansTrial-Italic.woff2') format('woff2'),
        url('../fonts/WinterSansTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
